html(lang="ru")
	head
		meta(charset="utf-8")
		style
			include style.css
	body
	div.wrapp#main
			include header
			div.contentp
				p(align="center") Что такое Интернет?
				p#bold(align="center") Небольшой по объёму абзац
				p.blue(align="center") Длинный текст
				p#italic
					a Рано или поздно каждый человек, бороздящий просторы сети Интернет, задается вопросом: Что же это такое Интернет?
					a Ответ как ни странно прост. Интернет - это обычная сеть. Такая же, как сеть электропроводки в здании, городе, стране и тд. Это совокупность проводов от дешевых до       очень дорогих, а иногда и радиосигналов и сигналов спутника. Самым главным элементом этой сети является то, что на концах каждого провода - это компьютер или    телефон    или еще какое либо устройство цифрового мира.Информация в Интернете - фильмы, музыка, стихи, книги, открытки и тд.- появляется благодаря пользователям, т.е.  тем, кто на концах этой сети. Чем больше пользователей, тем больше в Интернете информации. На сегодняшний день Интернет является местом циркуляции и всемирным  хранилищем информации. 
				ul
					li xxx
					li xxx
					li xxx
					
				p#italic
					a Интернет начал зарождаться в 1957 году в США как ответ на запуск спутника Советским союзом. Планировалось создать надежную сеть для передачи электронных сообщений на случай войны. Первая сеть носила имя ARPANET. Она объединила четыре научных центра США. Это были университеты в Лос-Анжелесе, Стендфорде, Санта-Барбаре и штате Юта. Позже к этой сети присоединились и другие научные центры. 
	include footer
